<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id:"title" %>
  </div>

  <div class="field">
    <%= form.label :detaile %>
    <%= form.text_field :detaile, id:"detaile" %>
  </div>
  <%= form.date_field :deadline, id:"deadline" %>
  <%= form.select(:status, {未着手: '未着手', 着手済み: '着手済み', 完了: '完了'}, { class: "form_priority__select" }) %>
  <%= form.select(:priority, {高: '高', 中: '中', 低: '低'}, { class: "form_priority__select" }) %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
