<div class="mx-auto" style="width: 200px;">
<p id="notice"><%= notice %></p>
<h1>Tasks</h1>
<%= form_with(method: :get, url: tasks_path, local: true) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :status %>
  <%= f.select :status, [["未着手", 0 ], ["着手済み", 1 ], ["完了", 2 ]] %>

<% Label.all.each do |label| %>
    <%= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false}, label[:id], "" %>
      <%= label.title %>
  <% end %>
  
  <%= f.submit "検索" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Detaile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.detaile %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <% task.task_labels.each do |task_label| %>
          <td><%= task_label.label.title %></td>
        <% end %>
        <td><%= link_to 'Show', task, class: "btn btn-info"  %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: "btn btn-success"  %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tasks %>

<%= link_to "終了期限でソートする", tasks_path(sort_deadline: "true"), class: "btn btn-primary" %>

<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true"), class: "btn btn-primary" %>

<br>

<%= link_to 'New Task', new_task_path, class: "btn btn-warning" %>

</div>
