<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Detaile:</strong>
  <%= @task.detaile %>
</p>

<p>
  <strong>Detaile:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Detaile:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Detaile:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>ユーザーの名前:</strong>
  <%= @task.user.name %>
</p>
        <% @task.task_labels.each do |task_label| %>
          <td><%= task_label.label.title %></td>
        <% end %>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
